{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}
{% block title %}{{ category.name }}{% endblock %}

{% block body %}
<header>
    <div class="log indigo lighten-4">
        {% if app.user %}
        <div class="us"><a class="navlog" href="#">Votre espace</a></div>
        <div class="us"><a class="navlog" href="{{ path('app_logout') }}">Déconnexion</a></div>
        {% else %}
        <div class="us"><a class="navlog" href="{{ path('app_login') }}">Connexion</a></div>
        <div class="us"><a class="navlog" href="{{ path('app_register') }}">Inscription</a></div>
        {% endif %}
    </div>
</header>
<ul id="slide-out" class="sidenav sidenav-fixed">
    <div class="logo">
        <a href="{{ path('base') }}">DevforDev</a>
    </div>
    <li><a href="{{ path('base') }}">Acceuil</a></li>
    <li id="list">{% for t in theme %}<a href="{{ path('base') }}" id="{{t.id}}">{{ t.name }}</a>{% endfor %}
    </li>
    <li><a href="#">Documention</a></li>
    <li><a href="#">Index</a></li>
</ul>
{% if app.user %}
<div class="mininav indigo lighten-4">
    <div class="nv">
        <a class="modal-trigger" href="#modal1">
            <i class="fas fa-edit"></i>
        </a>
    </div>
    <div class="nv q">
        <a class="modal-trigger" href="#modal2">
            <i class="fas fa-question-circle"></i>
        </a>
    </div>
</div>
{% endif %}
<div class="container">
    <h1 class="title">{{ category.name }}</h1>
    <p>{{ category.description }}</p>
    <div class="section">
        <div class="divider"></div>
        <h5>Liens utiles en relation avec {{ category.name }}</h5>
        <div class="linkloop">
            {% for l in link %}
            <a class="link" href="{{ l.name }}" target="_blank">{{ l.name }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="section">
    <h4>Astuces</h4>
    {% if astuce|length >= 1 %}
        <div class="astuce">
            {% for a in astuce %}
            <div class="card-astuce" id="cda">
            <div class="cardtitle">
            {{ a.user.username }}
            </div>
            <div class="card-body">
            {{ a.message }}
            </div>
            <div class="date">
            {{ a.date|date("m/d/Y") }}
            </div>
            {% if app.user %}
            <div class="like">
            <a href="{{ path('vote', {'id': a.id}) }}" class="js-like">
            {% if app.user and a.isLikeByUser(app.user) %}
            <i class="fas fa-thumbs-up" style="color: red"></i>
            {% else %}
            <i class="far fa-thumbs-up"></i>
            {% endif %}
            <span class="js-likes">{{a.votes | length}}</span>
            <span>J'aime</span>
            </a>
            </div>
            {% endif %}
           <!-- <div class="blockcrudast">
            <a href="" class="deleteast waves-effect waves-light btn-small red darken-3" id="">delete</a>
            </div> -->
            </div>
            {% endfor %}
        {% else %}
        <p>Il n'y à pas encore d'astuce.</p>
        {% endif %}
        </div>
        <div class="section">
        <h4>Questions</h4>
        {% if question|length >= 1 %}
        <div class="qst">
        <ul>
        {% for q in question %}
        <li>
        <a class="licmt" href="{{ path('comment', {'id': q.id}) }}">
        {{ q.qst }}
        </a>
        </li>
         {% for ans in q.comments|slice(0, 1) %}
        <span>{{ ans.msg }}</span>
        {% endfor %}
        {% endfor %}
        </ul>
        </div>
        {% else %}
        <p>Il n'y à pas encore de questions.</p>
        {% endif %}
        </div>
    </div>

    <!-- Modal Structure -->
    <div id="modal1" class="modal bottom-sheet">
        <div class="modal-content">
            <h4>Ajouter votre astuce</h4>
            <div class="row">
                {{ form_start(formAs) }}
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            {{ form_widget(formAs.message) }}
                            {{ form_widget(formAs.categoris, {'attr': {'value': category.id}}) }}
                            <label for="textarea1">Message</label>
                            {{ form_widget(formAs.date) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="modal-close waves-effect waves-green btn-flat teal darken-1 btnform">Valider</button>
            </div>
            {{ form_end(formAs) }}
        </div>
    </div>

    <div id="modal2" class="modal bottom-sheet">
        <div class="modal-content">
            <h4>Poser votre question</h4>
            <div class="row">
                {{ form_start(formQ) }}
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            {{ form_widget(formQ.qst) }}
                            {{ form_widget(formQ.category, {'attr': {'value': category.id}}) }}
                            <label for="textarea1">Message</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="modal-close waves-effect waves-green btn-flat teal darken-1 btnform">valider</button>
            </div>
            {{ form_end(formQ) }}
        </div>
    </div>
    {% endblock %}

    {% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript">
        function getDate() {
            var today = new Date();
            var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
            document.getElementById("astuce_date").value = date;
        }

        getDate();
    </script>
    <script>
    function onClike(event){
        event.preventDefault();

        const url = this.href;
        const count = this.querySelector('span.js-likes');
        const ic = this.querySelector('i'); 

        axios.get(url).then(function(res){

        count.textContent = res.data.like;

        if(ic.classList.contains('fas')){
           ic.classList.replace('fas', 'far');
           ic.style.color = 'black';
        }
        else {
            ic.classList.replace('far', 'fas');
            ic.style.color = 'red';
        }

        });
    }

    document.querySelectorAll('a.js-like').forEach(function(link){
        link.addEventListener('click', onClike);
    })
    </script>
    {% endblock %}